// ----------------------------------------------------------------------
//
// Mixin for clearfix
//
// ----------------------------------------------------------------------

@mixin clearfix() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// ----------------------------------------------------------------------
//
// Example
//
// .el {
//   @include clearfix();
// }
//
// ----------------------------------------------------------------------
//
// Output
//
// .el::after {
//   content: "";
//   display: block;
//   clear: both;
// }
//
// ----------------------------------------------------------------------
